[submodule "Keycloak---Identity-and-Access-Management-for-Modern-Applications-2nd-Edition"]
	path = Keycloak---Identity-and-Access-Management-for-Modern-Applications-2nd-Edition
	url = https://github.com/PacktPublishing/Keycloak---Identity-and-Access-Management-for-Modern-Applications-2nd-Edition.git
